@font-face {
    font-family: "pacifico";
    src: url(../fonts/Pacifico.ttf) format("truetype");
  }

:root {
    --rose: 207, 92, 120;
    --bleu: 0, 88, 155;
    --jaune: 245, 223, 77;
    --bleuClair: 0, 160, 176;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-color: rgb(var(--bleuClair));
    color: rgb(var(--jaune));
}

/******** HEADER ********/

header h1 {
    position : sticky;
    margin: 0px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/header.jpg);
    background-position: bottom;
    padding: 50px 0px;
    text-align: center;
    color: rgb(var(--bleu));
    text-shadow: 2px 2px black;
    font-family: pacifico;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: pacifico;
    padding: 15px 0;
}

header nav a:hover, a:active {
    opacity: 0.7;
}

header nav a:nth-child(even) {
    background-color: rgb(var(--bleu));
}

header nav a:nth-child(odd) {
    background-color: rgb(var(--rose));
}

/******** MAIN ********/
main {
    margin: 30px 50px;
}

section h2 {
    font-family: pacifico;
    margin-bottom: 0px;
}

#presentation {
    display: flex;
    text-align: justify;
}

#presentation img {
    height: 300px;
    margin-left: 30px;
    border-radius: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    display: flex;
    align-items: baseline;
}

.container div input {
    margin-left: 5px;
}

.container input {
    margin-bottom: 10px;
}

.container button {
    border-radius: 25px;
}

#monCompte {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#monCompte button {
    border-radius: 25px;
    background-color: rgb(var(--rose));
    padding: 10px 20px;
}

#deco {
    text-align: center;
}

/******** FOOTER ********/

footer {
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
}

footer p {
    text-align: center;
}