@font-face {
    font-family: "pacifico";
    src: url(../fonts/Pacifico.ttf) format("truetype");
  }

:root {
    --menuA: 217, 162, 130;
    --MenuB: 166, 166, 166;
    --writing: 13, 13, 13;
    --background: 140, 89, 77;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: rgb(var(--background));
    color: rgb(var(--writing));
}

/******** HEADER ********/
header{
    margin-bottom: 50px;
}

header h1 {
    margin: 0px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/header.jpg);
    background-position: cover ;
    padding: 100px 0px;
    text-align: center;
    color: rgb(var(--MenuB));
    text-shadow: 2px 2px black;
    font-family: pacifico;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: pacifico;
    padding: 15px 0;
}

header nav a:hover, a:active {
    opacity: 0.7;
}

header nav a:nth-child(even) {
    background-color: rgb(var(--MenuB));
}

header nav a:nth-child(odd) {
    background-color: rgb(var(--menuA));
}

header #showCart {
    display: flex;
    justify-content: flex-end;
    margin: 10px 30px -10px 0;
    font-family: pacifico;
}

/******** MAIN ********/
main {
   flex-grow: 1;
}

section h2 {
    font-family: pacifico;
    margin-bottom: 0px;
}

#presentation {
    display: flex;
    text-align: justify;
}

#presentation img {
    height: 300px;
    margin-left: 30px;
    border-radius: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    display: flex;
    align-items: baseline;
}

.container div input {
    margin-left: 5px;
}

.container input {
    margin-bottom: 10px;
}

.container button {
    border-radius: 25px;
}

#monCompte {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#monCompte button {
    border-radius: 25px;
    background-color: rgb(var(--menuA));
    padding: 10px 20px;
}

#deco {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    margin: 0px 10px 25px 10px;
    padding: 10px 0px;

}
.card img {
    height: 125px;
    width: 125px;
}

#placementTitre {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding : 0 20px 0 10px;

}

#bot {
    display: flex;
    justify-content: space-between;
}

.card button {
    border-radius: 25px;
    background-color: rgb(var(--menuA));
    padding: 10px 20px;
}

.card-text {
    text-align: justify;
}
/******** FOOTER ********/

footer {
    bottom: 0;
    margin-top: 50px;
    width: 100%;
}

footer p {
    text-align: center;
}